.header {
    
        width: 100%;
    
        text-align: center;
    
        color: #fff;
    
        background-color: #fff;
    
    }

div#container {

    max-width: 75em;

    margin: 0 auto;

    color: #000;

}



body {

    height: 100%;

    width: 100%;

    color: #000;

    text-align: center;

}

h1 {

    font-size: 2em;

    cursor: default;

}


h2 {

    font-weight: thin;

    font-size: 3em;

}

.footer {
    top:50px;

    color:#000;

    background-color: rgb(235, 235, 235);

    padding: 2em
}
img {
    border-radius: 6px;
}